<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CONTACT SELLER</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <div id="app">
        <div class="header">
            <h1>Contact Seller</h1>
        </div>
        <label for="book">--Choose a Book--</label>
        <select v-model="selectedItem">
            <option disabled value="">--Select a book--</option>
            <option v-for="item in items" :key="item">
                {{ item.Title }} (Seller: {{ item.SellerName }})
            </option>
        </select>
    </div>


    <!--Vue frontend-->
    <script>
        const { createApp } = Vue;
        createApp ({
            data() {
                return {
                    items: [],
                    selectedItem: null,
                    messageText: '',
                    messages: [],
                    currentUserName: ''
                };
            },
            async mounted() {
                
            },
            methods: {
                async sendMessage() {
                    if(!this.selectedItem.BookID || !this.messageText) {
                        return alert('Please select a book and enter a message.');
                    }
                    await fetch('/api/messages', {
                        method: 'POST',
                        headers: { 'Content-Type': 'application/json'},
                        body: JSON.stringify({ bookID: this.selectedItem.BookID, sellerID: this.selectedItem.SellerID, message: this.selectedItem.messageText })
                    });
                    alert('Message sent!');
                    this.messageText='';
                }
            }
        }).mount('#app');
    </script>
</body>

</html>